@media screen and (max-width:921px) {
	#wrapper{
		width: 286px;
		overflow: hidden;
	}
	header{
		.left-header{
			display: none;
		}
		.right-header{
			display: none;
		}
		.header-bar{
			border-bottom: none;
		}
		strong.logo{
			margin: 0 auto;
		}
	}
	.mobile-adaptive ul{
		display: none;
	}
	.cross-line{
		display: block;
		float: left;
	}
	#gallery{

		.owl-controls{
			display: none !important;
		}
		.gallery-txt{
			display: none;
		}
		.btn{
			padding:8px 9px 7px;
			min-height: 66px;
		}
	}
}