@media screen and (max-width:921px) {
	body {
		min-width: 320px;
	}
	.mobile-hidden{
		display: none;
	}
	#wrapper {
		width: auto;
	}
	header{
		.navbar{

			ul{
				margin-left: 5%;
				margin-right: 5%;
				text-align: center;

				li{
					padding-left: 3%;
					float: none;
					display: inline-block;
					vertical-align: top;
				}
			}
		}
		.right-header{

			a{
				display: none;
			}
			.cart-trigger{
				text-indent: -999px;
				background: url(../images/basket-icon.png) no-repeat;
				display: block;
				width: 37px;
				height: 33px;

				img{
					display:none;
				}
			}
		}
		strong.logo{
			position: absolute;
			top:10px;
			left: 40%;
		}
	}
	.select-product-box{

		.select-area{
			float: left;
			min-width: 48%;
			margin-left: 2% !important;

			&:first-child{
				margin-left: 0 !important;
			}
		}
	}
	.pagination{
		width: 100%;
		.pagination-list{
			li{
				padding-right:8.5%;
			}
		}
	}
	.gallery-column{
		text-align: center;
		.items-gallery{
			width: 48%;
			padding:0 0 18px 2%;

			img{
				width: 100%;
			}
		}
	}
	.signup-holder{
		display: none;
	}
	.shipping-info{
		
		.order-form{
			width: 100%;

			.contact-info{

				.billing-info{
					width: 100%;
					padding:0
				}
				.ship-info{
					width: 100%;
					padding: 0;
				}
			}
		}
		.login-holder{
			width: 100%;
			
			.btn{
				width: 80%;
				margin: 0 auto;
				float: none;
				display: block;
			}
		}
	}
	.contact-info{
		background: none !important;
	}
	.order-information{
		width: 100%;
	}
	footer{
		nav.footer-nav{
			width: 100%;
			
			.f-nav-holder{
				width: 20%;
				padding-left: 0;
			}
		}
		.copyright{
			width: 100%;
			padding-top: 15px;
			padding-left: 0;

			.logo{
				float: none;
				margin: 0 auto;
			}
			span{
				text-align: center;
			}
		}
	}
	#sync2{

		.owl-wrapper{

			.owl-item{
				min-width: 25%;
				  min-height: 50%;
			}
		}
	}
}

@media screen and (max-width:410px) {
	#wrapper{
		overflow: hidden;
		padding: 0 5px;
	}
	.temp-block{
		display: block !important;
	}
/* = = =  H E A D E R = = = */
	header{
		.left-header{
			display: none;
		}
		.right-header{

			a{
				display: none;
			}
			.cart-trigger{
				text-indent: -999px;
				background: url(../images/basket-icon.png) no-repeat;
				display: block;
				width: 37px;
				height: 33px;

				img{
					display:none;
				}
			}
		}
		.header-bar{
			border-bottom: none;
		}
		strong.logo{
			position: absolute;
			left: 70px;
		}
	}
	.headline{
		display: none;
	}
	.mobile-adaptive ul{
		display: none;
	}
/* = = =  H E A D E R  Ends */
/* = = =  C O N T E N T  = = = */
	#content{
		background: none;

		.items-gallery{
			width: 130px;
			padding: 0 0 18px 20px;
		}
		.gallery-columm{
			margin-left: -19px;
		}
	}
	aside{
		display: none;
	}
	.main-content{
		width: 100%;
		
		.select-product-box{
			
			.sel,
			.select-area{
				display: none !important;
			}
		}
		.choose-collection{
			display: block;
			
			.select-area{
				min-width: 280px;
			}
		}
	}
	.gallery-column{

		.items-gallery{
			width: 140px;
			
			img{
				width: 100%;
			}
		}
	}
	.cross-line{
		display: block;
		float: left;
	}
	.product-detail{
		background: none;

		#sync2{
			display: none !important;
		}
	}
	.product-gallery,
	.product-info{
		padding: 0;
		width: 100%;
	}
	.product-info{
		
		.select-area{
			min-width: 171px !important;
		}
		.btn{
			width: 100%;
			overflow: hidden;
			padding:3px 0 !important;
			width: 100%;
			margin-left: 0 !important;
		}
	}
	#gallery{

		.owl-controls{
			display: none !important;
		}
		.gallery-txt{

			h1{
				font-size: 30px;
			}
		}
		.item{

			.btn{
				padding:8px 9px 7px;
				min-width: 66px;
				position: absolute;
				right: 95px;
				bottom: 11px;
			}
		}
	}
	.column-holder{
		ul{
			-webkit-flex-flow: row wrap;
			justify-content: space-around;
			
			li{
				width: 137px;
			
				img{
					width: 100%;
				}
			}
		}
	}
	.column-holder.three{
		
		ul{

			li{
				width: 100%;
				margin-bottom: 18px;
				
				&:first-child span{
					text-align: left;
				}

				a{
					span{
						top: 83px;
						left: 24px;
					}
				}
			}
		}
	}
	.pagination{

		.pagination-list li{
			padding:0 3.7%;
		}
	}
/* = = =  C O N T E N T  ENDS = = = */

/* = = =  F O O T E R   = = = */
	footer{
		nav.footer-nav{
			width: 100%;
			border-bottom: 8px solid $color-border;

			.f-nav-holder{
			 padding-left: 0;
			 margin-bottom: 10px;
			 width: 100%;
			 border-top: $border-bot;
			
			&:first-child{
				border-top: none;
			}
			 	strong.lead-list{
			 		cursor: pointer;
			 		display: block;
			 		background: url(../images/acc-on.png) 95% 50% no-repeat;
			 	}
			 	strong.lead-list.active{
			 		background: url(../images/acc-off.png) 95% 50% no-repeat;
			 	}
				ul{
					display: none;
				}
			}
		}
		.copyright{
			width: 100%;
			text-align: center;
			float: none;
			padding-left: 0;
			
			.logo{
				display: none;
			}
			span{
				text-align: inherit;
			}
		}
		.f-nav-holder.social{
			display: none;
		}
	}
/* = = =  F O O T E R Ends   = = = */
}