/*reset*/
body, html {
	font: 12px/20px $font-main;
	color:#010101;
	margin: 0;
	height:100%;
	
}
select, input, textarea {	
	font:100% Arial, Helvetica, sans-serif;
	outline:none;
}
a {
	color:$color-link;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
strong {
	font-weight: normal;
	font-family: $font-bold;
}
.page {
	position:relative;
	overflow:hidden;
	min-height:100%;
}
#wrapper{
	width: 922px;
	margin: 0 auto;
}
/*general*/
header{
	padding: 33px 0 0;
	@include clearfix;

	
	.header-bar{
		border-bottom: 1px solid #ddd;
		padding-bottom: 28px;
		@include clearfix;
		
		.header-column{
			width: 40%;

			&:first-child{
				float: left;
				padding-left: 0;
			}
			&:nth-child(2){
				float: right;
			}

			ul.nav-left{

				@include clearfix;

				li{
					background: url(../images/separator.png) 8px 50% no-repeat;
					float: left;
					padding-left: 19px;
					
					&:first-child{
						background: none;
						padding-left: 0;
					}

					a{
						font-size: 11px;
					}

				}
			}
			ul.nav-right{
				float: right;

				@include clearfix;

				li{
					position: relative;
					float: right;
					padding-left: 10px;
					background: url(../images/stick.png) 0 50% no-repeat;
					
					&:nth-child(2){
						background: none;
						padding-right: 10px;
					}

					a{
						float: left;

						img{
							margin:2px 4px 0 0;
							float: left;
						}
					}
				}
			}

			div{
				padding-top: 5px;
				float: right;
				
				a.home-delivery{
					color:#729967;
					font-family: $font-brand;
				}
			}
		}
	}

	.navbar{
		overflow: hidden;
		width: 90%;
		margin: 0 auto;

		ul{
			padding:1% 0;
			overflow: hidden;

			li{
				padding-left:4.5%;
				float: left;
		
				&:first-child{
					padding-left: 0;
				}

				a{
				}
			}
		}
	}
}

#gallery{
	padding-bottom: 30px;
}
h2{
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	font-family:$font-title;
	color:$color-link-black;
	font-size: 19px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 17px;
	margin-bottom: 14px;
}
h2 span{
	display: block;
	font-size: 11px;
	color:#595959;
}
#content{
	margin-bottom: 50px;
	background: url(../images/gray-px.png) 20% 0 repeat-y;
	overflow: hidden;
}
.column-holder{
	padding-bottom: 48px;
	text-align: center;

	ul{
		@include flexbox;
			justify-content: space-around;
		list-style: none;
		margin: 0;
		padding: 0 0 23px;
		
		@include clearfix;

		li{
			margin:auto;
			text-align: center;

			a{
				height: 100%;
				overflow: hidden;

				img{
					vertical-align: top;
				}
			}

			.shirt-price{
				font-size: 13px;
				line-height: 17px;
				display: block;
				width: 74%;
				margin: 0 auto;
				padding: 17px 0 9px;
			}
		}

	}
}
.column-holder.three{

	ul{

		li{
			position: relative;
			margin: auto;


			&:first-child{
				padding-left: 0;
			}			
			&:first-child span{
				text-align: right;
			}
			&:nth-child(2) h3{
				color:#fff;
			}
			&:nth-child(2) span{
				color:#b2d2d4;
				text-align: left;
			}
			a{
				color: #484158;
				position: relative;

				img {
					vertical-align: top;
				}
				h3{
					text-align: left;
					width: 50%;
					top:26px;
					left:23px;
					position: absolute;
					font-family: $font-title;
					color:inherit;
					font-size: 18px;
				}
				span{
					width: 40%;
					position: absolute;
					top: 70px;
					left: 35px;
					color:inherit;
				}
			}

			.btn{
				height: auto;
				min-width: 70px;
				color:#fff;
				right:20px;
				bottom: 17px;
				padding: 9px 15px 8px;
				position: absolute;

				&:hover{
					background: $color-link-black;
				}
			}
		}
	}
}
.signup-holder{
	border-top:$border-bot;
	padding:27px 0 23px;
	@include clearfix;

	.sign-form{
		padding: 6px 0;
		width: 46%;
		float: left;
		border-right: 1px solid #dedede;
		padding-left: 65px;
		background: url(../images/mail.png) 0 50% no-repeat;
		
		span{
			display: block;
			padding: 3px 0;
			color:$color-link-black;
			font-size: 13px;
		}

		.form-holder{
			width: 85%;
			border:1px solid #dedede;
			padding: 4px 10px 4px 9px;
			
			input{
				background: none;
				border:none;
			}
			input[type=submit]{
				float: right;
				border-left: 1px solid #dedede;
			}
		}
	}

	.ship-free{
		width: 44%;
		float: left;
		background: url(../images/drive-mail.png) 36px 50% no-repeat;
		
		span{
			padding: 22px 0;
			margin-left: 100px;
			display: block;
			font-family: $font-brand;
		}	
	}
}
footer{
	border-top: 8px solid $color-border;
	padding:29px 0 36px;

	@include clearfix;

	nav.footer_nav{
		float: left;
		width: 70%;

		ul{
			padding-left: 5%;
			float: left;
			
			li{
				padding: 2% 0;
				color:$color-link-black;
			}

			&:first-child{
			padding-left:0;
			font-family: $font-bold;
			text-transform: uppercase;

				li{
					color:inherit;
					font-family: inherit;
					text-transform: inherit;
				}
			}
		}
		.social-link{
			
			li{
				padding-left: 5px;

				&:first-child{
					padding-left: none;
				}
			}
			li.lead-list{
				float: none;
			}
		}
	}
}
.copyright{
	width: 15%;
	padding-left: 15%;
	float: right;
	@include clearfix;


	.logo{
		float: right;
		background: url(../images/small-logo.png) no-repeat;
		width: 127px;
		height: 32px;
	}
	span{
		font-size: 10px;
		color:#595959;
		text-align: right;
		display: block;
	}
}
aside{
	float: left;
	width: 20%;

	.category-holder{
		width: 90%;
		
		ul{

			li.lead-list{
				font-weight: bold;
				border-bottom:$border-bot;
				
				a{
					color:$color-link-black;
				}
			}

			li{

				a{
					font-family: $font-title;
				}
			}
		}
	}

	.aside-box{
		@include clearfix;

		padding-bottom: 38px;
		
		.title-aside{
			font-family: $font-title;
			overflow: hidden;
			border-bottom:$border-bot;

			span{
				float: left;
				color:#909090;
				font-family: inherit;
				font-weight: bold;
			}

			a{
				font-family: inherit;
				float: left;
				color:#595959;
				display: block;
				font-size: 10px;
				padding-left: 17px;
				background: url(../images/cross-button.png) 5px 40% no-repeat;
			}
		}
		
		.lead-list.semi{
			border:none;
			font-family: $font-semibold;
			text-transform: none;
			color:#010101;
		}
		.select-filter{
			cursor: pointer;
			margin-top: 8px;
			border-bottom: 1px solid #e0e0e0;
			overflow: hidden;
			background: #f4f4f4;
			background: -moz-linear-gradient(top,  #f4f4f4 0%, #ebebeb 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#ebebeb));
			background: -webkit-linear-gradient(top,  #f4f4f4 0%,#ebebeb 100%);
			background: -o-linear-gradient(top,  #f4f4f4 0%,#ebebeb 100%);
			background: -ms-linear-gradient(top,  #f4f4f4 0%,#ebebeb 100%);
			background: linear-gradient(to bottom,  #f4f4f4 0%,#ebebeb 100%);

			&:first-child{
				margin-top: 0;
			}

			span{
				float: left;
				padding:2px 0 2px 8px;
				font-size: 11px;
				color:#595959;
			}
			a{
				float: right;
				background: url(../images/cross-button-sm.png) 5px 50% no-repeat;
				border-left: 1px solid #d9d9d9;
				width: 6px;
				height: 8px;
				padding: 10px 0 10px 11px;
			}
		}
		span.lead-list{
			display: block;
			border-bottom: $border-bot;
		}
	}
}
.main-content{
	float: right;
	width: 77%;

	.select-product-box {
		margin-bottom: 22px;
		border-bottom: $border-bot;
		@include clearfix;

		.sel {
			float: left;
			width: 168px;
		}
		.select-area{
			float: left;
			margin-left:10px;

			&:first-child{
				margin-left: 0;
			}
		}
	}
}
.gallery-column{
	border-bottom: $border-bot;
	margin-left: -21px;
	margin-bottom: 23px;
	font-size: 0;
	.items-gallery{
		padding:0 0 18px 21px;
		vertical-align: top;
		display: inline-block;
		
		.short-link{
			padding-top: 17px;
			display: block;
			width: 160px;
			margin: 0 auto;
			font-size: 13px;
			color: $color-link;
		}
		.shirt-price{
			padding-bottom: 17px;
		}

		a {
			text-align:center;
			display: block;
			position: relative;
			.hover {
				display: none;
			}
			&:hover{
				.hover {
					display: block;
					position: absolute;
					top: 0;
					left:0;
					bottom:0;
					right: 0;
					border:1px solid #d0d0d0;
					box-shadow: 0 0 0 4px #fff inset;
					margin: -1px;
				}
			}
		}
		img{
			vertical-align: top;
		}
	}
}
.product-detail{
	margin-bottom: 57px;
	background: url(../images/gray-px.png) 50% 0 repeat-y;
	overflow: hidden;
}
.product-gallery{
	overflow: hidden;
	width: 50%;
	float: left;
}
.product-info{
	width: 48%;
	padding-left: 2%;
	float: left;
	
	.product-holder{
		border-top: $border-bot;
		overflow: hidden;

		&:first-child{
			border:none;
			padding-bottom: 23px;
		}

		h1{
			font-family: $font-title;
			font-size: 20px;
			color:#595959
		}
		.pr-code{
			display: block;
			color:#010101;
		}

		.price-line{
			float: left;
			font-size: 15px;

			span{
				text-decoration: line-through;
				color:#595959;
			}
			strong{
				color:#010101;
				font-family: $font-bold;
			}
		}
		.social-share{
			float: right;

			li:first-child{

				a{
					font-family:$font-bold;
					font-size: 10px;
					color:#595959;
				}
			}
		}
		.sel-holder{
		padding: 13px 0 6px 0;	
		overflow: hidden;

			.select-label{
				color:#595959;
				line-height: 25px;
				padding-right: 6px;
				float: left;
				font-family: $font-bold;
			}

			.select-area{
				min-width: 120px;
				float: left;
			}

			a{
				margin-left: 8px;
				float: left;
			}
			.btn{
				padding: 3px 10px 3px;
			    min-width: 83px
			}
			&:hover .btn{
				background: #ccc;
			}
		}
	}
}
.headline-form{
	@include clearfix;
	padding:23px 0 35px;

	.headline-form-title{
		float: left;
	}
	.ssl-on{
		color:#916e1a;
		float: right;
		padding-left: 28px;
		background: url(../images/ssl.png) no-repeat;

		&:hover{
			text-decoration: none;
		}
	}
}
.shipping-info{
	@include clearfix;

	.order-form{
		width: 67%;
		float: left;

		h2{
			font-size: 14px;
			text-align: left;
			padding-bottom: 20px;
			border: none;
			margin: 0;

			span{
				font-size: inherit;
				color:#c2c2c2;
				display: inline;
			}
		}
	}
}
.shipping-info{

	.contact-info{
		background: url(../images/gray-px.png) 50% 0 repeat-y;
		@include clearfix;
		border-bottom:$border-bot;

		.billing-info{
			float: left;
			width: 45%;
			padding-bottom: 38px;
		}
		.ship-info{
			float: left;
			width: 45%;
			padding-left: 10%;

			p{
				padding:15px 80px 12px 20px;
				background: #f8f1df;
			}
		}
	}
	.txt-holder{
		margin-bottom: 11px;
		border:$border-bot;
		
		.step-one{
			padding-bottom: 25px;
		}

		input{
			font-family: $font-main;
			color:#3d3d3d;
			padding:1% 2% 1%;
			border:none;
			background:#f8f8f8;
		}
	}
	.half-input{
		@include clearfix;

		margin-bottom: 11px;
		
		.col{
			float: left;
			width: 48%;
			padding-left: 4%;

			.txt-holder{
				margin-bottom: 0;
			}

			&:first-child{
				padding-left: 0;
			}

			.select-area{
				width: 100% !important;
				border: none;
				margin:0;
			}
		}
	}
	.ship-section{
		@include clearfix;
		padding:22px 0 15px 0;
		border-bottom: $border-bot;
	}
	.shipping-method{

		span{
			display: block;
			padding-bottom: 13px;
		}

		.select-area{
			font-size: 12px;
			width: 280px !important;
		}
	}
	.payment-method{
		
		.radio-holder{
			padding-bottom: 14px;
		}
		.select-area{
			width: 200px !important;
			float: left;
		}
		.label-span{
			padding-right: 10px;
			line-height: 20px;
		}
	}
	.login-holder{
		padding-bottom: 36px;
		width: 60%;
		@include clearfix;
		
		.nick-holder{
			display: block;
			padding:29px 0 12px;
			font-family: $font-semibold;
			color:#010101;
		}

		input{
			color:#595959;
		}
		.col{
			width: 40%;
			padding-left: 10%;
		}
		.btn{
			float: left;
			padding:12px 16px 11px;
			min-width: 93px;

			&:hover{
				text-decoration: none;
				color:blue;
				background: pink;

			}
		}
	}
}
.order-information{
	width: 30%;
	padding-left: 3%;
	float: left;


	.order-desk{
		margin-top: 11px;
		border:$border-bot;
	}
}
.order-check{
	thead,
	tbody{
		border-bottom:$border-bot;
	}
	tbody{
		background: #fffefa;
	}
	th{
		padding: 1% 4%;
		font-family: $font-title;
		font-size: 14px;
		color:#3d3d3d;
		font-weight: bold;
	}
	td{
		padding:1% 4%;
	}
	.title-table{
		background: #f8f6f1;
		border-bottom: $border-bot;
	}
}