/*compass imports*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*modules & stuff*/
@font-face {
  font-family: 'open_sansbold';
  src: url("../fonts/opensans-bold-webfont.eot");
  src: url("../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-bold-webfont.woff") format("woff"), url("../fonts/opensans-bold-webfont.ttf") format("truetype"), url("../fonts/opensans-bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/opensans-regular-webfont.eot");
  src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.ttf") format("truetype"), url("../fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold';
  src: url("../fonts/opensans-semibold-webfont.eot");
  src: url("../fonts/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-semibold-webfont.woff") format("woff"), url("../fonts/opensans-semibold-webfont.ttf") format("truetype"), url("../fonts/opensans-semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratregular';
  src: url("../fonts/montserrat-regular-webfont.eot");
  src: url("../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat-regular-webfont.ttf") format("truetype"), url("../fonts/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'volkhovregular';
  src: url("../fonts/volkhov-regular-otf-webfont.eot");
  src: url("../fonts/volkhov-regular-otf-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/volkhov-regular-otf-webfont.woff") format("woff"), url("../fonts/volkhov-regular-otf-webfont.ttf") format("truetype"), url("../fonts/volkhov-regular-otf-webfont.svg#volkhovregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo100';
  src: url("../fonts/museo100-regular-webfont.eot");
  src: url("../fonts/museo100-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museo100-regular-webfont.woff") format("woff"), url("../fonts/museo100-regular-webfont.ttf") format("truetype"), url("../fonts/museo100-regular-webfont.svg#museo100") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo700';
  src: url("../fonts/museo700-regular-webfont.eot");
  src: url("../fonts/museo700-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museo700-regular-webfont.woff") format("woff"), url("../fonts/museo700-regular-webfont.ttf") format("truetype"), url("../fonts/museo700-regular-webfont.svg#museo700") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*mixins*/
/*colors*/
/*texts*/
/*breadcrumbs*/
.headline {
  padding: 23px 0 19px 25px;
  margin-bottom: 28px;
  background: #ddd;
}
.headline h1 {
  font-size: 23px;
  color: #837f7a;
  font-family: "montserratregular", Arial, Helvetica, sans-serif;
}

ul.breadcrumbs:after {
  content: '';
  display: block;
  clear: both;
}
ul.breadcrumbs li {
  color: #535353;
  font-size: 10px;
  padding-left: 18px;
  background: url(../images/breadcrumbs-arrow.png) 8px 5px no-repeat;
  float: left;
}
ul.breadcrumbs li:first-child {
  background: none;
  padding-left: 0;
}
ul.breadcrumbs li a {
  font-size: inherit;
}

.social-link li {
  padding-left: 5px;
}
.social-link li:first-child {
  padding-left: 0;
}

.icons-fb,
.icons-tw,
.icons-mail {
  width: 16px;
  height: 16px;
  display: block;
  float: left;
}

.lead-list {
  text-transform: uppercase;
  font-family: "open_sansbold", Arial, Helvetica, sans-serif;
  color: #2a2a2a;
}

/*borders*/
/*buttons*/
.shirt-price {
  color: #595959;
  font-family: "open_sansbold", Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.btn {
  background: #e47600;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  font-family: "open_sansbold", Arial, Helvetica, sans-serif;
  color: #fff;
  padding: 15px 15px 13px;
  text-align: center;
  min-width: 110px;
}
.btn:hover {
  color: #e47600;
  background: #fff;
}

.logo {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  width: 160px;
  height: 40px;
  background: url(../images/logo.png) no-repeat;
}
.logo a {
  display: block;
  height: 100%;
}

.txt-holder {
  overflow: hidden;
}
.txt-holder input {
  float: left;
  width: 100%;
}

.ar {
  text-align: right;
}

.al {
  text-align: left;
}

.drop {
  position: absolute;
  display: none;
  top: 100%;
  right: 0;
  background: #fff;
  width: 270px;
  height: 373px;
  z-index: 2;
  border: 1px solid #c6c6c6;
  -webkit-box-shadow: 1px 1px 4px 3px rgba(242, 242, 242, 0.75);
  -moz-box-shadow: 1px 1px 4px 3px rgba(242, 242, 242, 0.75);
  box-shadow: 1px 1px 4px 3px rgba(242, 242, 242, 0.75);
}
.drop .drop-info-holder {
  float: none !important;
  width: 90%;
  margin: 0 auto;
}
.drop .drop-info-holder .lead-drop-info {
  display: block;
  border-bottom: 1px solid #ddd;
  font-family: "montserratregular", Arial, Helvetica, sans-serif;
  color: #010101;
  font-weight: bold;
}

.pagination {
  float: right;
}
.pagination .pagination-list:after {
  content: '';
  display: block;
  clear: both;
}
.pagination .pagination-list li {
  padding-right: 3px;
  color: #313131;
  float: left;
}
.pagination .pagination-list li a {
  color: inherit;
}
.pagination .pagination-list li:hover a {
  color: #4494b6;
}
.pagination .pagination-list li.active a {
  color: #4494b6;
}
.pagination .pagination-list .previous {
  cursor: pointer;
  padding: 0 9px;
  background: url(../images/pag-prev.png) 0 50% no-repeat;
}
.pagination .pagination-list .next {
  cursor: pointer;
  padding: 0 9px;
  background: url(../images/pag-next.png) right 50% no-repeat;
}

/*colors & backgrounds*/
.icons-sprite, .icons-fb, .icons-ml, .icons-tw {
  background-image: url('../images/../images/icons-s85ee3b76e9.png');
  background-repeat: no-repeat;
}

.icons-fb {
  background-position: 0 0;
}

.icons-ml {
  background-position: 0 -16px;
}

.icons-tw {
  background-position: 0 -32px;
}

/*pages*/
/*reset*/
body, html {
  font: 12px/20px "open_sansregular", Arial, Helvetica, sans-serif;
  color: #010101;
  margin: 0;
  height: 100%;
}

select, input, textarea {
  font: 100% Arial, Helvetica, sans-serif;
  outline: none;
}

a {
  color: #03426d;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-weight: normal;
  font-family: "open_sansbold", Arial, Helvetica, sans-serif;
}

.page {
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

#wrapper {
  width: 922px;
  margin: 0 auto;
}

/*general*/
header {
  padding: 33px 0 0;
}
header:after {
  content: '';
  display: block;
  clear: both;
}
header .header-bar {
  border-bottom: 1px solid #ddd;
  padding-bottom: 28px;
}
header .header-bar:after {
  content: '';
  display: block;
  clear: both;
}
header .header-bar .header-column {
  width: 40%;
}
header .header-bar .header-column:first-child {
  float: left;
  padding-left: 0;
}
header .header-bar .header-column:nth-child(2) {
  float: right;
}
header .header-bar .header-column ul.nav-left:after {
  content: '';
  display: block;
  clear: both;
}
header .header-bar .header-column ul.nav-left li {
  background: url(../images/separator.png) 8px 50% no-repeat;
  float: left;
  padding-left: 19px;
}
header .header-bar .header-column ul.nav-left li:first-child {
  background: none;
  padding-left: 0;
}
header .header-bar .header-column ul.nav-left li a {
  font-size: 11px;
}
header .header-bar .header-column ul.nav-right {
  float: right;
}
header .header-bar .header-column ul.nav-right:after {
  content: '';
  display: block;
  clear: both;
}
header .header-bar .header-column ul.nav-right li {
  position: relative;
  float: right;
  padding-left: 10px;
  background: url(../images/stick.png) 0 50% no-repeat;
}
header .header-bar .header-column ul.nav-right li:nth-child(2) {
  background: none;
  padding-right: 10px;
}
header .header-bar .header-column ul.nav-right li a {
  float: left;
}
header .header-bar .header-column ul.nav-right li a img {
  margin: 2px 4px 0 0;
  float: left;
}
header .header-bar .header-column div {
  padding-top: 5px;
  float: right;
}
header .header-bar .header-column div a.home-delivery {
  color: #729967;
  font-family: "volkhovregular", Times, "Times New Roman", serif;
}
header .navbar {
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
}
header .navbar ul {
  padding: 1% 0;
  overflow: hidden;
}
header .navbar ul li {
  padding-left: 4.5%;
  float: left;
}
header .navbar ul li:first-child {
  padding-left: 0;
}

#gallery {
  padding-bottom: 30px;
}

h2 {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-family: "montserratregular", Arial, Helvetica, sans-serif;
  color: #2a2a2a;
  font-size: 19px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 17px;
  margin-bottom: 14px;
}

h2 span {
  display: block;
  font-size: 11px;
  color: #595959;
}

#content {
  margin-bottom: 50px;
  background: url(../images/gray-px.png) 20% 0 repeat-y;
  overflow: hidden;
}

.column-holder {
  padding-bottom: 48px;
  text-align: center;
}
.column-holder ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0 0 23px;
}
.column-holder ul:after {
  content: '';
  display: block;
  clear: both;
}
.column-holder ul li {
  margin: auto;
  text-align: center;
}
.column-holder ul li a {
  height: 100%;
  overflow: hidden;
}
.column-holder ul li a img {
  vertical-align: top;
}
.column-holder ul li .shirt-price {
  font-size: 13px;
  line-height: 17px;
  display: block;
  width: 74%;
  margin: 0 auto;
  padding: 17px 0 9px;
}

.column-holder.three ul li {
  position: relative;
  margin: auto;
}
.column-holder.three ul li:first-child {
  padding-left: 0;
}
.column-holder.three ul li:first-child span {
  text-align: right;
}
.column-holder.three ul li:nth-child(2) h3 {
  color: #fff;
}
.column-holder.three ul li:nth-child(2) span {
  color: #b2d2d4;
  text-align: left;
}
.column-holder.three ul li a {
  color: #484158;
  position: relative;
}
.column-holder.three ul li a img {
  vertical-align: top;
}
.column-holder.three ul li a h3 {
  text-align: left;
  width: 50%;
  top: 26px;
  left: 23px;
  position: absolute;
  font-family: "montserratregular", Arial, Helvetica, sans-serif;
  color: inherit;
  font-size: 18px;
}
.column-holder.three ul li a span {
  width: 40%;
  position: absolute;
  top: 70px;
  left: 35px;
  color: inherit;
}
.column-holder.three ul li .btn {
  height: auto;
  min-width: 70px;
  color: #fff;
  right: 20px;
  bottom: 17px;
  padding: 9px 15px 8px;
  position: absolute;
}
.column-holder.three ul li .btn:hover {
  background: #2a2a2a;
}

.signup-holder {
  border-top: 1px solid #ddd;
  padding: 27px 0 23px;
}
.signup-holder:after {
  content: '';
  display: block;
  clear: both;
}
.signup-holder .sign-form {
  padding: 6px 0;
  width: 46%;
  float: left;
  border-right: 1px solid #dedede;
  padding-left: 65px;
  background: url(../images/mail.png) 0 50% no-repeat;
}
.signup-holder .sign-form span {
  display: block;
  padding: 3px 0;
  color: #2a2a2a;
  font-size: 13px;
}
.signup-holder .sign-form .form-holder {
  width: 85%;
  border: 1px solid #dedede;
  padding: 4px 10px 4px 9px;
}
.signup-holder .sign-form .form-holder input {
  background: none;
  border: none;
}
.signup-holder .sign-form .form-holder input[type=submit] {
  float: right;
  border-left: 1px solid #dedede;
}
.signup-holder .ship-free {
  width: 44%;
  float: left;
  background: url(../images/drive-mail.png) 36px 50% no-repeat;
}
.signup-holder .ship-free span {
  padding: 22px 0;
  margin-left: 100px;
  display: block;
  font-family: "volkhovregular", Times, "Times New Roman", serif;
}

footer {
  border-top: 8px solid #ddd;
  padding: 29px 0 36px;
}
footer:after {
  content: '';
  display: block;
  clear: both;
}
footer nav.footer_nav {
  float: left;
  width: 70%;
}
footer nav.footer_nav ul {
  padding-left: 6%;
  float: left;
}
footer nav.footer_nav ul li {
  padding: 2% 0;
  color: #2a2a2a;
}
footer nav.footer_nav ul:first-child {
  padding-left: 0;
  font-family: "open_sansbold", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
footer nav.footer_nav ul:first-child li {
  color: inherit;
  font-family: inherit;
  text-transform: inherit;
}

.copyright {
  width: 15%;
  padding-left: 15%;
  float: right;
}
.copyright:after {
  content: '';
  display: block;
  clear: both;
}
.copyright .logo {
  float: right;
  background: url(../images/small-logo.png) no-repeat;
  width: 127px;
  height: 32px;
}
.copyright span {
  font-size: 10px;
  color: #595959;
  text-align: right;
  display: block;
}

aside {
  float: left;
  width: 20%;
}
aside .category-holder {
  width: 90%;
}
aside .category-holder ul li.lead-list {
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}
aside .category-holder ul li.lead-list a {
  color: #2a2a2a;
}
aside .category-holder ul li a {
  font-family: "montserratregular", Arial, Helvetica, sans-serif;
}
aside .aside-box {
  padding-bottom: 38px;
}
aside .aside-box:after {
  content: '';
  display: block;
  clear: both;
}
aside .aside-box .title-aside {
  font-family: "montserratregular", Arial, Helvetica, sans-serif;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}
aside .aside-box .title-aside span {
  float: left;
  color: #909090;
  font-family: inherit;
  font-weight: bold;
}
aside .aside-box .title-aside a {
  font-family: inherit;
  float: left;
  color: #595959;
  display: block;
  font-size: 10px;
  padding-left: 17px;
  background: url(../images/cross-button.png) 5px 40% no-repeat;
}
aside .aside-box .lead-list.semi {
  border: none;
  font-family: "open_sanssemibold", Arial, Helvetica, sans-serif;
  text-transform: none;
  color: #010101;
}
aside .aside-box .select-filter {
  cursor: pointer;
  margin-top: 8px;
  border-bottom: 1px solid #e0e0e0;
  overflow: hidden;
  background: #f4f4f4;
  background: -moz-linear-gradient(top, #f4f4f4 0%, #ebebeb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #ebebeb));
  background: -webkit-linear-gradient(top, #f4f4f4 0%, #ebebeb 100%);
  background: -o-linear-gradient(top, #f4f4f4 0%, #ebebeb 100%);
  background: -ms-linear-gradient(top, #f4f4f4 0%, #ebebeb 100%);
  background: linear-gradient(to bottom, #f4f4f4 0%, #ebebeb 100%);
}
aside .aside-box .select-filter:first-child {
  margin-top: 0;
}
aside .aside-box .select-filter span {
  float: left;
  padding: 2px 0 2px 8px;
  font-size: 11px;
  color: #595959;
}
aside .aside-box .select-filter a {
  float: right;
  background: url(../images/cross-button-sm.png) 5px 50% no-repeat;
  border-left: 1px solid #d9d9d9;
  width: 6px;
  height: 8px;
  padding: 10px 0 10px 11px;
}
aside .aside-box span.lead-list {
  display: block;
  border-bottom: 1px solid #ddd;
}
aside .aside-box .check-holder {
  padding-top: 13px;
  float: left;
  clear: both;
}
aside .aside-box .check-holder label {
  color: #010101;
  font-family: "montserratregular", Arial, Helvetica, sans-serif;
}
aside .aside-box .check-holder:first-child {
  padding-top: 0;
}

.main-content {
  float: right;
  width: 77%;
}
.main-content .select-product-box {
  margin-bottom: 22px;
  border-bottom: 1px solid #ddd;
}
.main-content .select-product-box:after {
  content: '';
  display: block;
  clear: both;
}
.main-content .select-product-box .sel {
  float: left;
  width: 168px;
}
.main-content .select-product-box .select-area {
  float: left;
  margin-left: 10px;
}
.main-content .select-product-box .select-area:first-child {
  margin-left: 0;
}

.gallery-column {
  border-bottom: 1px solid #ddd;
  margin-left: -21px;
  margin-bottom: 23px;
  font-size: 0;
}
.gallery-column .items-gallery {
  padding: 0 0 18px 21px;
  vertical-align: top;
  display: inline-block;
}
.gallery-column .items-gallery .short-link {
  padding-top: 17px;
  display: block;
  width: 160px;
  margin: 0 auto;
  font-size: 13px;
  color: #03426d;
}
.gallery-column .items-gallery .shirt-price {
  padding-bottom: 17px;
}
.gallery-column .items-gallery a {
  text-align: center;
  display: block;
  position: relative;
}
.gallery-column .items-gallery a .hover {
  display: none;
}
.gallery-column .items-gallery a:hover .hover {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid #d0d0d0;
  box-shadow: 0 0 0 4px #fff inset;
  margin: -1px;
}
.gallery-column .items-gallery img {
  vertical-align: top;
}

.product-detail {
  background: url(../images/gray-px.png) 50% 0 repeat-y;
  overflow: hidden;
}

.product-gallery {
  overflow: hidden;
  width: 50%;
  float: left;
}

.product-info {
  width: 48%;
  padding-left: 2%;
  float: left;
}
.product-info h1 {
  font-family: "montserratregular", Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #595959;
}
.product-info .pr-code {
  display: block;
  color: #010101;
}
.product-info .price-line {
  float: left;
  font-size: 15px;
}
.product-info .price-line span {
  text-decoration: line-through;
  color: #595959;
}
.product-info .price-line strong {
  color: #010101;
  font-family: "open_sansbold", Arial, Helvetica, sans-serif;
}
.product-info .social-share {
  float: right;
}

/*vendor*/
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
  position: relative;
}

.fancybox-inner {
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("../images/fancybox_sprite.png");
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("../images/fancybox_loading.gif") center center no-repeat;
}

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("../images/blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: transparent;
  z-index: 8040;
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

.fancybox-nav:hover span {
  visibility: visible;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}

.fancybox-lock body {
  overflow: hidden !important;
}

.fancybox-lock-test {
  overflow-y: hidden !important;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("../images/fancybox_overlay.png");
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("../images/fancybox_sprite@2x.png");
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/
  }

  #fancybox-loading div {
    background-image: url("../images/fancybox_loading@2x.gif");
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
}
.owl-theme .owl-controls .owl-page {
  display: inline-block;
}

.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #1e1d1d;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #ffffff;
  opacity: 1;
}

/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.owl-item {
  position: relative;
  float: left;
}

.owl-wrapper {
  position: relative;
}

.owl-wrapper-outer {
  overflow: hidden;
}

#gallery {
  position: relative;
}

#gallery .item img {
  display: block;
  width: 100%;
  height: auto;
}

#gallery .item a {
  position: absolute;
  right: 40px;
  bottom: 46px;
}

.gallery-txt {
  position: absolute;
  top: 47px;
  left: 53px;
}

.gallery-txt h1 {
  font-size: 61px;
  padding-bottom: 14px;
  line-height: 40px;
  font-family: 'museo100';
  color: #4c4669;
}

.gallery-txt h1 b {
  font-family: 'museo700';
}

.gallery-txt span {
  display: block;
  color: #27211d;
  font-size: 15px;
}

.owl-controls {
  position: absolute;
  left: 27px;
  bottom: 57px;
}

/* GALLERY SETTINGS */
#sync1 {
  overflow: hidden;
}

.owl-wrapper {
  overflow: hidden;
}

#sync2 {
  padding-top: 15px;
}
#sync2 .owl-wrapper {
  width: 100% !important;
}
#sync2 .owl-wrapper .owl-item {
  width: 60px !important;
  margin-left: 36px;
  min-width: 60px;
  min-height: 60px;
}
#sync2 .owl-wrapper .owl-item:first-child {
  margin-left: 0;
}
#sync2 .owl-wrapper .owl-item.synced img {
  vertical-align: top;
  width: 100%;
}
#sync2 .owl-wrapper span.hover {
  display: none;
}
#sync2 .owl-wrapper .owl-item.synced span.hover {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid #d0d0d0;
  box-shadow: 0 0 0 4px #fff inset;
}

/* custom forms styles */
.customForm-hidden {
  display: block !important;
  position: absolute !important;
  left: -9999px !important;
}

/* custom checkbox styles */
.chk-area {
  margin: 4px 3px 0 0;
  float: left;
  overflow: hidden;
  height: 13px;
  width: 13px;
  position: relative;
  z-index: 2;
}

.chk-area span {
  background: url(../images/bg-checkbox.png) no-repeat;
  width: 13px;
  height: 26px;
  display: block;
}

.chk-checked span {
  margin-top: -13px;
}

.chk-dash span {
  margin-top: -36px;
}

/* radio button styles */
.rad-area {
  margin: 7px 9px 0 0;
  float: left;
  overflow: hidden;
  height: 14px;
  width: 14px;
}

.rad-area span {
  background: url(../images/bg-radio.png) no-repeat;
  width: 14px;
  height: 28px;
  display: block;
}

.rad-checked span {
  margin-top: -14px;
}

/* custom select styles */
.select-area {
  border: 1px solid #bdbdbd;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0 0 10px;
  height: 23px;
}

.select-area .select-opener {
  border-left: 1px solid #bdbdbd;
  background: #FFF url(../images/bg-select.png) no-repeat 8px 50%;
  position: absolute;
  z-index: 3;
  top: 1px;
  right: 1px;
  width: 23px;
  height: 23px;
}

.select-focus .select-opener,
.select-active .select-opener {
  background: #fff url(../images/bg-select-active.png) no-repeat 8px 50%;
}

.select-area .left {
  position: absolute;
  width: 10px;
  height: 30px;
  z-index: 1;
  top: 0;
  left: 0;
}

.select-area .center {
  white-space: nowrap;
  position: relative;
  font-size: 11px;
  line-height: 23px;
  cursor: default;
  display: block;
  padding: 0 10px;
  z-index: 2;
  background: #f8f8f8;
  zoom: 1;
}

.select-area .center img {
  margin: 5px 5px 0 0;
  position: relative;
  float: left;
}

.select-disabled {
  color: #bbb !important;
  cursor: default;
}

.options-overflow div.drop-list {
  overflow: auto;
}

.options-hidden {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.select-options {
  z-index: 11000;
  background: #fafafa;
  position: absolute;
}

.select-options .drop-holder {
  border: 2px solid #d4d4d4;
  border-width: 0 1px 1px;
  height: 1%;
}

.select-options-flipped .drop-holder {
  border-width: 1px 1px 0;
}

.select-options div.drop-list {
  width: 100%;
}

.select-options ul {
  overflow: hidden;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.select-options ul li {
  overflow: hidden;
  float: left;
  width: 100%;
}

.select-options ul a {
  text-decoration: none;
  cursor: default;
  color: #000;
  display: block;
  overflow: hidden;
  height: 1%;
  line-height: 23px;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 10px;
}

.select-options ul a span {
  cursor: default;
  float: left;
  font-size: 11px;
}

.select-options .item-selected a {
  text-decoration: none;
  background: #fa9600;
  color: #fff;
}

.select-options ul a:hover {
  text-decoration: none;
}

.select-options ul a:focus {
  outline: none;
}

.select-options .optgroup strong {
  cursor: default;
  display: block;
  width: 100%;
}

.select-options .optgroup strong em {
  display: block;
  padding: 5px;
  height: 1%;
}

.select-options .optgroup ul a {
  padding-left: 20px;
}

.select-options img {
  margin: 2px 3px 0 0;
  float: left;
  border: 0;
}

/* custom input type file */
.file-area {
  position: relative;
  line-height: 31px;
  overflow: hidden;
  float: left;
  clear: both;
  color: #000;
  height: 61px;
}

.file-area .customForm-wrap {
  position: relative;
  overflow: hidden;
  height: 31px;
  width: 0;
  margin: 0 0 -31px;
  z-index: 100;
  font-size: 0;
  line-height: 0;
}

.file-area .customForm-input-wrapper {
  position: relative;
  overflow: hidden;
  height: 61px;
  float: left;
}

.file-area .customForm-fake-input {
  margin: 0;
  width: auto;
  white-space: nowrap;
  display: block;
}

.file-area .customForm-fake-input span {
  background: url(../images/bg-upload.gif) no-repeat 100% -62px;
  cursor: default;
  overflow: hidden;
  float: left;
}

.file-area .customForm-fake-input em {
  float: left;
  height: 31px;
  width: 120px;
  font-style: normal;
  padding: 3px 5px 0;
  overflow: hidden;
  background: url(../images/ext-none.gif) no-repeat 0 50%;
}

.file-area .customForm-upload-button {
  background: url(../images/bg-upload.gif) no-repeat 0 -93px;
  color: #fff;
  display: block;
  overflow: hidden;
  clear: both;
}

.file-area .customForm-upload-button span {
  width: 110px;
  height: 30px;
  text-align: center;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #616161;
  cursor: default;
  float: left;
}

.file-area .customForm-upload-button span:hover {
  background: #faa525;
}

.file-area .customForm-upload-button span:focus,
.file-area .customForm-upload-button span:active {
  background: #fa9600;
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15) inset;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15) inset;
}

.file-input-opacity {
  z-index: 100;
  position: absolute;
  height: 31px;
  line-height: 31px;
}

.file-disabled {
  color: #bbb;
}

.file-disabled .customForm-fake-input {
  background-position: 0 -124px;
}

.file-disabled .customForm-fake-input span {
  background-position: 100% -186px;
}

.file-disabled .customForm-upload-button {
  background-position: 0 -217px;
}

.file-disabled .customForm-upload-button span {
  background-position: 100% -217px;
}

.file-focus .customForm-fake-input {
  background-position: 0 -248px;
}

.file-focus .customForm-fake-input span {
  background-position: 100% -310px;
}

.file-focus .customForm-upload-button {
  background-position: 0 -341px;
}

.file-focus .customForm-upload-button span {
  background-position: 100% -341px;
}

/* file extension styles */
.no-file .customForm-fake-input em {
  background: none;
}

.extension-jpg .customForm-fake-input em,
.extension-bmp .customForm-fake-input em,
.extension-gif .customForm-fake-input em,
.extension-png .customForm-fake-input em {
  background-image: url(../images/ext-image.gif);
}

.extension-odt .customForm-fake-input em,
.extension-doc .customForm-fake-input em,
.extension-docx .customForm-fake-input em {
  background-image: url(../images/ext-doc.gif);
}

.extension-ods .customForm-fake-input em,
.extension-xls .customForm-fake-input em,
.extension-xlsx .customForm-fake-input em {
  background-image: url(../images/ext-xls.gif);
}

.extension-swf .customForm-fake-input em,
.extension-fla .customForm-fake-input em {
  background-image: url(../images/ext-flash.gif);
}

.extension-db .customForm-fake-input em,
.extension-sql .customForm-fake-input em {
  background-image: url(../images/ext-db.gif);
}

.extension-htm .customForm-fake-input em,
.extension-html .customForm-fake-input em {
  background-image: url(../images/ext-html.gif);
}

.extension-txt .customForm-fake-input em,
.extension-rtf .customForm-fake-input em {
  background-image: url(../images/ext-txt.gif);
}

.extension-zip .customForm-fake-input em,
.extension-rar .customForm-fake-input em {
  background-image: url(../images/ext-zip.gif);
}

.extension-pdf .customForm-fake-input em {
  background-image: url(../images/ext-pdf.gif);
}

/* custom scroll styles */
.scrollable-focus1,
.scrollable-focus1 .scrollable-area {
  background: #ffd !important;
}

.scrollable-focus1 .scrollable-area .scrollable-area {
  background: #fff !important;
}

.scrollable-area-wrapper {
  position: relative;
  overflow: hidden;
}

.scrollable-area-wrapper .vscrollbar {
  position: absolute;
  cursor: default;
  height: 100%;
  width: 6px;
  top: 0;
  right: 0;
  z-index: 100;
}

.scrollable-area-wrapper .scrollable-fake {
  overflow: hidden;
  position: relative;
}

.scrollable-area-wrapper .vscroll-up,
.scrollable-area-wrapper .vscroll-down {
  overflow: hidden;
  width: 6px;
  height: 1px;
  right: 0;
  top: 0;
}

.scrollable-area-wrapper .vscroll-line {
  position: relative;
  width: 100%;
}

.scrollable-area-wrapper .vscroll-down {
  top: auto;
  bottom: 0;
}

.scrollable-area-wrapper .vscroll-slider {
  position: absolute;
  overflow: hidden;
  width: 6px;
  background: #b0b0b0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.scrollable-area-wrapper .scroll-bar-top,
.scrollable-area-wrapper .scroll-bar-bottom {
  position: absolute;
  top: 0;
  width: 6px;
  height: 1px;
}

.scrollable-area-wrapper .scroll-bar-bottom {
  top: auto;
  bottom: 0;
}

/* horizontal scroll styles */
.scrollable-area-wrapper .hscrollbar {
  background: url(../images/bg-hscrollable.gif) no-repeat -20px 0;
  position: absolute;
  cursor: default;
  width: 100%;
  height: 20px;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.scrollable-area-wrapper .hscroll-line {
  position: relative;
  height: 20px;
  float: left;
}

.scrollable-area-wrapper .hscroll-left,
.scrollable-area-wrapper .hscroll-right {
  background: url(../images/bg-hscrollable.gif) no-repeat;
  float: left;
  overflow: hidden;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
}

.scrollable-area-wrapper .hscroll-right {
  background-position: 0 -20px;
  left: auto;
  right: 0;
}

.scrollable-area-wrapper .hscroll-slider {
  background: url(../images/bg-hscrollable.gif) no-repeat 50% -20px;
  position: absolute;
  overflow: hidden;
  height: 20px;
}

.scrollable-area-wrapper .scroll-bar-left,
.scrollable-area-wrapper .scroll-bar-right {
  background: url(../images/bg-hscrollable.gif) no-repeat -20px -20px;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
}

.scrollable-area-wrapper .scroll-bar-right {
  background-position: 100% -20px;
  left: auto;
  right: 0;
}

/* scrollable textarea styles */
.textarea-wrapper {
  overflow: hidden;
  float: left;
}

.textarea-wrapper textarea,
.textarea-wrapper textarea:focus {
  border: 0;
  margin: 0;
  padding: 0 8px;
  outline: none;
  background: none;
  vertical-align: top;
}

.textarea-wrapper .ctop,
.textarea-wrapper .cbot,
.textarea-wrapper .cright,
.textarea-wrapper .cmid,
.textarea-wrapper .chold {
  background: url(../images/bg-textarea.gif) no-repeat;
}

.textarea-wrapper-focus .ctop,
.textarea-wrapper-focus .cbot,
.textarea-wrapper-focus .cright,
.textarea-wrapper-focus .cmid,
.textarea-wrapper-focus .chold {
  background-image: url(../images/bg-textarea-focus.gif) !important;
}

.textarea-wrapper .ctop,
.textarea-wrapper .cbot {
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  height: 5px;
}

.textarea-wrapper .ctop .cright,
.textarea-wrapper .cbot .cright {
  background-position: 100% 0;
  width: 50%;
  height: 5px;
  float: right;
}

.textarea-wrapper .cbot .cright {
  background-position: 100% 100%;
}

.textarea-wrapper .cbot {
  background-position: 0 100%;
}

.textarea-wrapper .cmid {
  background-position: 0 50%;
  padding: 0 0 0 5px;
}

.textarea-wrapper .chold {
  background-position: 100% 50%;
  padding: 0 5px 0 0;
}

/*media*/
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
@media screen and (max-width: 768px) {
  .page {
    width: 768px;
  }

  header {
    position: relative;
    z-index: 2;
  }
  header .navbar {
    width: 25%;
    background: #fff;
    padding: 0 0 9999px;
    margin: 0 0 -9999px;
    background: #fff;
    float: left;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #f00;
  }
  header .navbar ul li {
    width: 100%;
    padding: 0;
    margin: 5px 0;
    text-align: center;
  }
  header .navbar ul li a {
    display: inline-block;
  }
  header .logotype {
    float: right;
    width: 300px;
    height: 100px;
    margin-right: 150px;
  }
  header .mobile-trigger:hover .navbar {
    display: block;
  }
  header .menu-show {
    display: block;
  }
  header .menu-show:hover + nav.navbar {
    display: block;
  }

  .tabs section {
    padding: 7px;
    width: 525px;
  }

  .column-holder div ol li .list-item-before,
  .column-holder div ol li:before {
    margin: 16px 0 -30px 272px;
  }

  .column-holder {
    display: block;
  }
  .column-holder div {
    margin: 20px 0;
    width: 100%;
  }
}
