/*mixins*/
@mixin clearfix() {
	
	&:after{
		content: '';
		display: block;
		clear: both;
	}
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
/*colors*/
$color-button:#e47600;
$color-link:#03426d;
$color-link-black:#2a2a2a;
$color-border:#ddd;
/*texts*/
$font-main:'open_sansregular', Arial, Helvetica, sans-serif;
$font-bold:'open_sansbold', Arial, Helvetica, sans-serif;
$font-brand:'volkhovregular', Times, "Times New Roman", serif;
$font-title:'montserratregular', Arial, Helvetica, sans-serif;
$font-semibold:'open_sanssemibold',Arial, Helvetica, sans-serif;
/*breadcrumbs*/
.headline{
	padding: 23px 0 19px 25px;
	margin-bottom: 28px;
	background:$color-border;

	h1{
		font-size: 23px;
		color:#837f7a;
		font-family: $font-title;
	}
}
ul.breadcrumbs{
	@include clearfix;

	li{
		color:#535353;
		font-size: 10px;
		padding-left: 18px;
		background: url(../images/breadcrumbs-arrow.png) 8px 5px no-repeat;
		float: left;
	
		&:first-child{
			background: none;
			padding-left: 0;
		}

		a{
			font-size: inherit;
		}
	}
}
.social-link{

	li{
		padding-left: 5px;

		&:first-child{
			padding-left: 0;
		}
	}
}
.icons-fb,
.icons-tw,
.icons-mail{
	width: 16px;
	height: 16px;
	display: block;
	float: left;
}

.lead-list{
	text-transform: uppercase;
	font-family: $font-bold;
	color:$color-link-black;	
}
/*borders*/
$border-bot:1px solid $color-border;
/*buttons*/
.shirt-price{
	color:#595959;
	font-family: $font-bold;
	font-size: 13px;
}
.btn{
	background: $color-button;
	outline: none;
	@include border-radius(4px);
	font-family: $font-bold;
	color:#fff;
	padding:15px 15px 13px;
	text-align: center;
	min-width: 110px;

	&:hover{
		color:$color-button;
		background: #fff;
	}
}
.logo{
	display: block;
	text-indent:-9999px;
	overflow:hidden;
	width:160px;
	height: 40px;
	background: url(../images/logo.png) no-repeat;
		
	a{
		display:block;
		height:100%;
	}
}	
.txt-holder{
	overflow: hidden;
	
	input{
		float: left;
		width: 100%;
	}
}
.ar {
	text-align:right;
}
.al {
	text-align:left;
}

.drop {
	position: absolute;
	display: none;
	top: 100%;
	right: 0;
	background: #fff;
	width: 270px;
	height: 373px;
	z-index: 2;
	border: 1px solid #c6c6c6;
	-webkit-box-shadow: 1px 1px 4px 3px rgba(242,242,242,0.75);
	-moz-box-shadow: 1px 1px 4px 3px rgba(242,242,242,0.75);
	box-shadow: 1px 1px 4px 3px rgba(242,242,242,0.75);

	.drop-info-holder{
		float: none !important;
		width: 90%;
		margin:0 auto;
		
		.lead-drop-info{
			display: block;
			border-bottom: 1px solid $color-border;
			font-family: $font-title;
			color:#010101;
			font-weight: bold;	
		}
	}
}
.pagination{
	float: right;

	.pagination-list{
		@include clearfix();

		li{
			padding-right: 3px;
			color:#313131;
			float: left;

			a{
				color:inherit;
			}

			&:hover a{
				color:#4494b6;
			}
		}
		
		li.active a{
			color:#4494b6;
		}
		.previous{
			cursor: pointer;
			padding:0 9px;
			background: url(../images/pag-prev.png) 0 50% no-repeat;
		}
		.next{
			cursor: pointer;
			padding:0 9px;
			background: url(../images/pag-next.png) right 50% no-repeat;
		}
	}
}
